MEGATOOLS_DIR=C:\megaTools_1_1_98					<path to mega tools directory>
FFMPEG_EXE_PATH=C:\ffmpeg\ffmpeg.exe				<path to ffmpeg executable ("ffmpeg.exe")>
MEGA_ACCOUNTS=C:\mega_accounts.txt					<file containing list of MEGA accounts username and passwords (old feature)>
MEGA_ACCOUNTS_OUTPUT=C:\mega_accounts_output.txt	<path to output accounts data to (old feature)>

[Profile1]
ProfileName=Profile 1				<profile name (can be anything)>
Username=myemail@email.com			<MEGA account email address>
Password=mypassword					<MEGA account password>
LocalPath1=C:\mydir1   				<local sync location>
RemotePath1=/Root/MyDir/mydir1		<remote sync location>
LocalPath2=C:\mydir2   				<local sync location>
RemotePath2=/Root/MyDir/mydir2		<remote sync location>
etc...

[Profile2]
etc...
